@page
@model IndexModel
@{
    ViewData["Title"] = "Sid";
}

    <div class="text-center">
        <h1 class="display-4">Hello World!</h1>
        <p>This is <a href="https://www.isthissid.com/" target="_blank">Sid</a>.</p>
    </div>

    <div>

        <marquee behavior="scroll" direction="left" scrollamount="25">
            <img class="bar-effect" id="imgHideShow" src="assets/BGBlue1.jpg" alt="blue bar">
        </marquee>

        <marquee behavior="scroll" direction="right" scrollamount="35">
            <img class="bar-effect" id="imgHideShow1" src="assets/BGPink1.jpg" alt="pink bar">
        </marquee>

        <marquee behavior="scroll" direction="left" scrollamount="32">
            <img class="bar-effect" id="imgHideShow2" src="assets/BGPurple.jpg" alt="purple bar">
        </marquee>

        <marquee behavior="scroll" direction="right" scrollamount="22">
            <img class="bar-effect" id="imgHideShow3" src="assets/BGBlue1.jpg" alt="pink bar">
        </marquee>

        <marquee behavior="scroll" direction="left" scrollamount="30">
            <img class="bar-effect" id="imgHideShow4" src="assets/BGBlue1.jpg" alt="blue bar">
        </marquee>

        <marquee behavior="scroll" direction="right" scrollamount="32">
            <img class="bar-effect" id="imgHideShow5" src="assets/BGPink1.jpg" alt="pink bar">
        </marquee>

        <marquee behavior="scroll" direction="left" scrollamount="28">
            <img class="bar-effect" id="imgHideShow6" src="assets/BGPurple.jpg" alt="purple bar">
        </marquee>

        <marquee behavior="scroll" direction="right" scrollamount="30">
            <img class="bar-effect" id="imgHideShow7" src="assets/BGBlue1.jpg" alt="pink bar">
        </marquee>

    </div>

    <div>
    <img src="/assets/swirlbg.jpg" alt="Blue Swirl" class="responsive rounded-image" />
    </div>




